.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding: 1em;

  .search_input {
    padding: .75em 1em;
    background-color: var(--mainColor);
    outline: none;
    border: none;
    color: #fff;
    border-radius: 5px;
    transition: box-shadow .2s;

    &:focus {
      box-shadow: 0 5px 10px var(--foreignColor);
    }

    &::placeholder {
      color: #fff;
    }
  }

  .search_reset {
    background-color: var(--foreignColor);
    color: #fff;
    margin-left: 5px;
    transition: background-color .2s;
    cursor: pointer;

    &:hover {
      background-color: var(--foreignColorOpacity);
    }
  }
}