.wrapper {
  display: grid;
  grid-template-rows: 50px 0fr;
  width: 100%;
  transition: grid-template-rows .2s;

  &.open {
    grid-template-rows: 50px 1fr;

    .toggle {
      transform: rotateX(-180deg);
    }

    .container {
      padding: 1em;
    }
  }

  .title {
    display: flex;
    align-items: center;

    .toggle {
      border: 2px solid var(--foreignColor);
      background-color: var(--foreignColor);
      color: #fff;
      margin-left: .25em;
      transition: background-color .2s, color .2s, transform .2s;
      cursor: pointer;

      &:hover {
        background-color: #fff;
        color: var(--foreignColor);
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: padding .2s;

    .login_input {
      outline: none;
      padding: .25em .5em;
      margin-left: .5em;
      border: 2px solid transparent;
      background-color: #ddd;
      transition: border-color .2s;

      &:focus {
        border-color: var(--foreignColor);
      }
    }

    .form_wrapper {
      width: 50%;

      .form {
        align-items: flex-start;
        padding: 1em;
        width: 100%;

        .block {
          width: 100%;
        }

        .confirm_btn {
          font-size: 1rem;
        }
      }
    }
  }
}