.wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 1em;
  margin-top: 1em;
  background-color: var(--mainColor);
  border-radius: 5px;
  box-shadow: inset -2px -2px 10px rgba(0, 0, 0, .5);

  .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    width: 100%;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;

    .author {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      margin-right: 1em;

      .author_details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .author_name {
          color: #fff;
          text-decoration: none;
          transition: color .2s;
          cursor: pointer;

          &:hover {
            color: var(--foreignColor);
          }
        }

        .answer {
          font-size: .7rem;
          margin-top: 1em;
          color: #fff;
          transition: color .2s;
          cursor: pointer;

          &:hover {
            color: var(--foreignColorDark)
          }
        }
      }

      .author_image {
        border: 1px solid var(--foreignColor);
        border-radius: 5px;
        height: 50px;
        margin-right: 10px;
      }
    }

    .date {
      align-self: flex-start;
      font-size: .8rem;
      color: #fff;
      border-bottom: 1px solid #fff;
    }
  }

  .text {
    margin-top: 1em;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
  }
}