.post_container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto;

  .post_image {
    width: fit-content;
    padding: 1em;
    background-color: var(--foreignColor);
    border-radius: 1em;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    margin-right: 1em;
    margin-bottom: 1em;

    img {
      max-width: 400px;
    }
  }

  .content_container {
    width: 100%;

    .post_title {
      width: 100%;
      margin: 1em 0;
      padding: 1em;
      text-align: center;
      word-wrap: break-word;
      word-break: break-word;
      white-space: pre-wrap;
      background-color: var(--mainColor);
      clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
      border: 5px solid var(--foreignColor);

      .title_text {
        width: 80%;
        margin: auto auto;
        color: #fff;
      }
    }

    .post_text {
      word-wrap: break-word;
      word-break: break-word;
      white-space: pre-wrap;
      padding: 1em;
    }

    .post_details {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      padding: .75em;
      color: #fff;
      background-color: var(--foreignColor);
      border-radius: 5px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
      animation: fallAnimation .8s both;

      @keyframes fallAnimation {
        0% {
          transform: translateY(-30px);
          animation-timing-function: ease-in;
        }
        25%, 55%, 75% {
          transform: translateY(0);
          animation-timing-function: ease-out;
        }
        40% {
          transform: translateY(-9px);
          animation-timing-function: ease-in;
        }
        65% {
          transform: translateY(-2.7px);
          animation-timing-function: ease-in;
        }
        85% {
          transform: translateY(-0.8px);
          animation-timing-function: ease-in;
        }
        95%, 100% {
          transform: translateY(0);
        }
      }

      .post_user {
        display: flex;
        align-items: center;

        .user_name {
          color: #fff;
          text-decoration: none;
          transition: color .2s;
          cursor: pointer;

          &:hover {
            color: var(--foreignColorDark);
          }
        }

        .user_image {
          border: 1px solid var(--mainColor);
          border-radius: 5px;
          height: 50px;
          margin-right: 10px;
        }
      }

      .post_options {
        display: flex;

        .post_delete_btn {
          margin-left: .5em;
          transition: color .2s;
          cursor: pointer;

          &:hover {
            color: var(--foreignColorDark);
          }
        }
      }
    }

    .post_tags {
      font-size: .7rem;
      margin-top: 1em;
      word-break: break-all;
      background-color: var(--mainColor);
      border-radius: 5px;
      padding: .5em;
      color: #fff;
    }
  }
}