.toasts_container {
  position: fixed;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 60px;

  .toast_item {
    position: absolute;
    width: 100%;
    padding: 1em;
    text-align: center;
    background-color: var(--mainColor);
    border: 3px solid var(--foreignColor);
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);

    &.error {
      background-color: var(--errorColor);
      border-color: red;
    }

    &.success {
      background-color: var(--successColor);
      border-color: green;
    }

    animation: toastShow 1s both;

    @keyframes toastShow {
      0% {
        bottom: -100%;
        transform: scale(0) translateY(-80px);
        animation-timing-function: ease-in;
      }
      25%, 55%, 75% {
        bottom: 0;
        transform: scale(1) translateY(0);
        animation-timing-function: ease-out;
      }
      40% {
        bottom: 0;
        transform: translateY(-24px);
        animation-timing-function: ease-in;
      }
      65% {
        bottom: 0;
        transform: translateY(-7.1px);
        animation-timing-function: ease-in;
      }
      85% {
        bottom: 0;
        transform: translateY(-2.1px);
        animation-timing-function: ease-in;
      }
      95%, 100% {
        bottom: 0;
        transform: translateY(0);
      }
    }

    &.fadeOut {
      animation: toastFadeOut 500ms linear both;

      @keyframes toastFadeOut {
        to { transform: translate(10px, -50px); opacity: 0; }
      }
    }
  }
}