.container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 85%;
  margin: 1em auto 0;
  position: relative;
  
  &:before,
  &:after {
    content: "";
    position: absolute;
    left: -1%;
    top: -15px;
    width: 95%;
    height: 10px;
    transform: skew(-15deg);
  }

  &:before {
    background-color: var(--mainColor);
  }

  &:after {
    background-color: var(--foreignColor);
    top: -10px;
    left: -0.25%;
    box-shadow: -2px 0 4px rgba(255, 255, 255, .5);
  }
}