.posts_container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: 350px;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  padding: 1em;
  perspective: 2000px;

  .post_item {
    display: flex;
    position: relative;
    justify-content: space-between;
    transform-style: preserve-3d;
    width: 100%;
    height: 350px;
    text-decoration: none;
    transition: transform .2s;

    &:hover {
      transform: scale(1.01);
    }

    .post_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 35%;
    }

    .post_title {
      width: 100%;
      text-align: center;
      margin-bottom: 1em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .post_text {
      overflow: hidden;
      white-space: pre-wrap;
      word-break: break-word;
      
      &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(180deg, transparent, var(--foreignColor) 75%);
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
      }
    }

    .post_date {
      font-size: .75rem;
      border-bottom: 2px solid #fff;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }

    &.post_left,
    &.post_right {
      height: 100%;
      background-color: var(--foreignColor);
      box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
      border-radius: 1em;
      padding: 1em;
      color: #fff;

      .content_container {
        width: 65%;
        display: flex;
        flex-direction: column;

        .post_date {
          border-color: var(--mainColor);
        }
      }
    }

    &.post_left {
      grid-column: 1/3;

      .post_info {
        margin-right: 1em;
        border-right: 2px solid var(--mainColor);
      }
    }

    &.post_right {
      grid-column: 2/4;
      align-self: center;

      .post_info {
        margin-left: 1em;
        border-left: 2px solid var(--mainColor);
      }
    }

    img {
      &.size_by_width {
        max-width: 200px;
      }
      &.size_by_height {
        max-height: 250px;
      }
    }

    &:hover {
      .post_front {
        transform: rotateY(180deg);
      }

      .post_back {
        transform: rotateX(0deg);
      }
    }

    .post_front,
    .post_back {
      width: 100%;
      height: 100%;
      background-color: var(--mainColor);
      box-shadow: 0 5px 10px rgba(0, 0, 0, .5);
      border-radius: 1em;
      padding: 1em;
      color: #fff;
      overflow: hidden;
      backface-visibility: hidden;
      transition: transform .6s;
    }

    .post_front {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .post_back {
      position: absolute;
      transform: rotateY(-180deg);
      // transform: rotateY(0deg);

      .post_text {
        width: 100%;
        
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100px;
          background-image: linear-gradient(180deg, transparent, var(--mainColor) 75%);
          border-bottom-left-radius: 1em;
          border-bottom-right-radius: 1em;
        }
      }
    }
  }
}