*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --mainColor: #4a9697;
  --foreignColor: #544a97;
  --errorColor: #f48282;
}

body {
  width: 100%;
  height: 100dvh;
}

.main_container {
  width: 100%;
  min-height: 100dvh;
  padding: 2em 5em;
  background-image: linear-gradient(135deg, #fff, #c7c7c7);
}