.post_form {
  width: 80% !important;

  .post_block {
    width: 80%;
  }

  .split_fields {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .post_block {
      width: 48%;
    }
  }
}