.sidebar {
  position: fixed;
  left: 0;
  width: 25%;
  background-color: var(--mainColor);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 1em;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
  transition: left .3s, box-shadow .5s;
  z-index: 9999;

  --offset: (25% - 50px);

  &.closed {
    left: -25%;
    box-shadow: none;

    .visible_toggle {
      left: 0;
      animation: bounceAnimation .8s ease-in;

      @keyframes bounceAnimation {
        0% {
          left: calc(var(--offset));
          animation-timing-function: ease-in;
        }
        25%, 55%, 75% {
          left: 0;
          animation-timing-function: ease-out;
        }
        40% {
          left: calc(var(--offset) * .3);
          animation-timing-function: ease-in;
        }
        65% {
          left: calc(var(--offset) * .09);
          animation-timing-function: ease-in;
        }
        85% {
          left: calc(var(--offset) * .027);
          animation-timing-function: ease-in;
        }
        95%, 100% { left: 0; }
      }

      & > svg {
        transform: rotateY(-180deg);
      }
    }
  }

  .visible_toggle {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(var(--offset));
    background-color: var(--foreignColor);
    border-radius: 5px;
    padding: .25em;
    transition: left .4s;
    cursor: pointer;
  }

  .tags {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    padding: 1em;

    .tag_item {
      margin: 2px;
      border: 2px solid #fff;
      padding: .25em;
      color: #fff;
      transition: background-color .2s, transform .2s;
      user-select: none;
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: var(--foreignColor);
      }

      &:active {
        transform: scale(0.8);
      }
    }
  }
}