.form_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 50dvh;
    background-color: var(--mainColor);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);

    .input_block {
      position: relative;
      width: 50%;

      .input_label {
        position: absolute;
        top: -18px;
        left: 15px;
        background-color: var(--foreignColor);
        padding: .5em;
        box-shadow: 1px 5px 5px rgba(0, 0, 0, .5);
        border-radius: 5px;
      }

      input {
        width: 100%;
        outline: none;
        background: none;
        border: 3px solid var(--foreignColor);
        background-color: var(--foreignColor);
        padding: 1.5em 1em;
        box-shadow: 0 0 8px rgba(0, 0, 0, .5) inset;
        transition: border-color .6s;
        color: #fff;
        border-radius: 5px;

        &:focus {
          border-color: #fff;
        }

        &.invalid {
          border-color: #ab0202;
          box-shadow:
            0 0 8px rgba(0, 0, 0, .5) inset,
            0 0 8px #ab0202;
        }
      }
    }

    .form_btn {
      background-color: var(--foreignColor);
      padding: .25em 1em;
      font-size: 1.5em;
      color: #fff;
      border: 2px solid #fff;
      cursor: pointer;
      transition: transform .2s;

      &:active {
        transform: scale(.8);
      }
    }

    .hint_small {
      color: #fff;
      font-size: .75rem;
      transition: color .2s;

      &:hover {
        color: var(--foreignColor);
      }
    }
  }
}